<div id="{div_id}" style="width: {width}; height: {height};" class="plotly-graph-div">
</div>
<script type="text/javascript">
  window.PLOTLYENV=window.PLOTLYENV || {{}};
  window.PLOTLYENV.BASE_URL="' + plotly_platform_url + '";
  Plotly.newPlot("{div_id}", {jdata}, {jlayout}, {jconfig})
</script>